<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LKLogArchiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LKLogArchiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <LKLogArchiver.Properties.Settings>
            <setting name="path_log" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="path_destination" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="extension" serializeAs="String">
                <value>evtx</value>
            </setting>
            <setting name="send_ftp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftp_serwer" serializeAs="String">
                <value>ftp.serwer</value>
            </setting>
            <setting name="ftp_login" serializeAs="String">
                <value>login_ftp</value>
            </setting>
            <setting name="ftp_katalog" serializeAs="String">
                <value />
            </setting>
            <setting name="log_file" serializeAs="String">
                <value>Security.evtx</value>
            </setting>
            <setting name="maska_nazwy" serializeAs="String">
                <value>Archive-</value>
            </setting>
            <setting name="delete_old" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="szyfruj" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>haslo</value>
            </setting>
            <setting name="zastap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftp_haslo" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="ftp_usun_stare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftp_suma" serializeAs="String">
                <value>False</value>
            </setting>
        </LKLogArchiver.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LKLogArchiver.Properties.Settings>
            <setting name="wersja" serializeAs="String">
                <value>1.0</value>
            </setting>
        </LKLogArchiver.Properties.Settings>
    </applicationSettings>
</configuration>
